

p::selection{

    background-color: palevioletred;

}

a {

color: dodgerblue;

}

a:hover{


    color: deeppink;

}

.box {

    width: 500px;
height: 500;
background-color: aquamarine;


}